<div layout="row" layout-wrap layout-align="center center" id='page-home' ng-cloack>
    <div layout="row" flex flex-sm="100" flex-gt-sm="100" flex-gt-md="100" class='ts-titolo'>
        <h1>Gestionale Sede Numero 1</h1>

    </div>
    <div class='ts-titolo' layout="row" flex flex-sm="100" flex-gt-sm="100" flex-gt-md="100">
        <p>Questa pagina la pagine di gestione delle singole sedi</p>
    </div>

    <div layout="column" ng-cloak flex-sm="95" flex-gt-sm="95" flex-gt-md="95" class="md-whiteframe-1dp ts-content">
        <md-toolbar md-scroll-shrink>
            <div layout="row" class="md-toolbar-tools">
                <div flex-sm="100" flex-gt-sm="100" flex-gt-md="100">
                    Inserisci/Visualizza i dati
                </div>
            </div>
        </md-toolbar>
        <md-content flex layout-padding>
            <form name="form">
                <div layout="row">
                    <md-input-container flex="50">
                        <md-datepicker ng-model="data_inizio" md-placeholder="DATA INIZIO" required name='"Dichiarazione di avvio attività"'></md-datepicker>
                    </md-input-container>
                    <md-input-container flex="50">
                        <md-datepicker ng-model="data_fine" md-placeholder="DATA FINE" required name='"Dichiarazione di fine attività"'></md-datepicker>
                    </md-input-container>
                </div>
                <div layout='row' class='h4_padding'>
                    <md-input-container flex="70">
                        <label>Compagnia assicuratrice/Istituto bancario</label>
                        <input required name='"Compagnia assicuratrice/Istituto bancario"'>
                    </md-input-container>
                    <div flex="25">
                        <md-checkbox>
                            In convenzione
                        </md-checkbox>
                    </div>
                </div>
                <div layout='row' class='h4_padding'>
                    <md-input-container flex="95">
                        <label>Numero polizza fidejussoria</label>
                        <input required name='"Numero polizza fidejussoria"'>
                    </md-input-container>
                </div>
                <h4>
              Allega scansione polizza fidejussoria
                </h4>
                <div layout='row' flex-sm="100" flex-gt-sm="100" flex-gt-md="100" class='h4_padding'>
                    <md-input-container flex-sm="100" flex-gt-sm="100" flex-gt-md="100">
                        <label>&nbsp;</label>
                        <div layout="row" class="input-file-controller">
                            <input flex-sm="100" flex-gt-sm="100" flex-gt-md="100" type="file" required>
                        </div>
                        <div layout="row" class="input-file-controller">
                            <md-button class="md-raised md-primary" class="md-icon-button md-primary">
                                Carica file
                            </md-button>
                        </div>
                    </md-input-container>
                    <!-- <md-progress-linear md-mode="determinate" value="{{polizza.queue[0].progress}}" ng-show="linear_bar_polizza  && !uploaded_polizza" ng-if='editable'></md-progress-linear>-->
                </div>
            </form>
        </md-content>
        <div class="md-actions" layout="row" layout-align="center center" flex-sm="95" flex-gt-sm="95" flex-gt-md="95">
            <md-button ng-click="save($event)" class="md-raised md-primary" ng-disabled='!(form.$valid)'>Salva Dati</md-button>
        </div>

    </div>
</div>
