.ts-public-info {
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
    
    .first_content_introduzione {
        p {
            margin:0;
        }
        
        li {
            list-style-type: none;
        }
    }
}