#page-user {
    stato-richiesta {
        .md-button {
            min-height: 18;
            min-width: 44px;
        }
    }
    
    md-tabs {
        
        md-input-container {
            padding: 1px 1px 5px;
            
            #page-user .login-box .login-form md-input-container .md-input, #page-user .login-box .login-form md-input-container.md-default-theme, .ts-content md-input-container .md-placeholder, .ts-content md-input-container label, .ts-content md-input-container.md-default-theme, .ts-content md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid), .ts-content md-input-container.md-default-theme.md-input-has-value:not(.md-input-invalid), .ts-content md-input-container.md-input-focused:not(.md-input-invalid) label, .ts-content md-input-container.md-input-has-value:not(.md-input-invalid) label {
                font-size: 13px;
            }
            
            .md-input {
                font-size: 14px;
                line-height: 24px;
            }
            
            & .md-input[disabled] {
                color: $color-primary;
            }
            
            md-select.md-default-theme, md-select .md-select-value.md-select-placeholder {
                font-size: 13px;
                color: $color-primary;
            }
            
            md-select.md-default-theme[disabled], md-select[disabled] .md-select-value {
                font-size: 13px;
                color: $color-primary;
            }
        }
        
        .md-switch-thumb, md-radio-button {
            margin-bottom: 0;
            margin-top:0;
            font-size: 14px;
        }
        
        .md-subheader .md-subheader-inner {
            font-size: 15px;
            font-weight: bold;
            padding: 16px 0;
        }
        
        .md-subheader {
            margin: 16px 16px -16px 0;
        }
        
        md-checkbox {
            font-size: 14px;
            margin: 4px;
        }
        
        .md-small {
            font-size: 11px;
            line-height: 18px;
            min-height: 20px;
            min-width: 44px;
        }
        
        md-datepicker {
            .md-datepicker-button {
                float:left;
            }
            
            .md-datepicker-input-container {
                float: left;
                padding-bottom: 0;
                padding-top: 18px;
                vertical-align: middle;
                width: 85%;
                
                .md-datepicker-input {
                    max-width:100%;
                    width:100%;
                }
            }
        }
        
        md-autocomplete {
            min-width:100px;
        }
        
        .md-datepicker-calendar-pane.md-pane-open {
            background-color: #FFF;
        }
    }
    
    .project_toolbar {
        .md-button {
            color: $color-secondary;
            font-weight: bold;
            
            md-icon {
                fill: $color-secondary;
            }
        }
    }
    
    .payments_actions {
        margin-top: 30px;
    }
}