#page-stats {
    md-whiteframe {
        margin-bottom:25px;
        margin-top: 25px;
        &.quick-info {
            height: 100px;
            
            .value {
                font-size: 55px;
            }
            
            .separator {
                border: 1px solid $color-primary;
                width: 15%;
            }
            
            .label {
                margin-top: 10px;
            }
        }
        
        &.quick-info-chart {
            height: 400px;
            
            .value {
                font-size: 55px;
            }
            
            .separator {
                border: 1px solid $color-primary;
                width: 15%;
            }
            
            .label {
                margin-top: 10px;
            }
        }
    }
}