<div layout="row" layout-wrap layout-align="center center" id='page-home' ng-cloack>
  <div layout="column" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" class='ts-titolo'>
    <h1>TornoSubito 2017 </h1>
  </div>
    <md-button ng-click="redirect('progetto')" class="md-raised md-primary">Gestione Progetto 2016</md-button>
    <md-button ng-click="redirect('inserisci')" class="md-raised md-primary" ng-disabled = "error">Inserisci domanda 2017</md-button>
    <md-toolbar ng-if="error" md-scroll-shrink>
    <div  layout="row" flex-sm="95" flex-gt-sm="95" flex-gt-md="95" class="md-toolbar-tools">
        {{error}}
    </div>
    </md-toolbar>
</div>
