html {
    background: #DDD;

    body {
        background: #DDD;
        font-family: 'titilliumregular';
    }
}

button, html, input, md-bottom-sheet .md-subheader, select, textarea {
    font-family: 'titilliumregular';
}

md-toolbar{
    &.main-toolbar {
        background: $color-primary url(/img/logobar_back.png) repeat-x;

        & img.logobar {
            width: 395px;
            height: 90px;
        }
        
        & img.logobar_right {
            width: 358px;
            height: 90px;
            float:right;
        }
    }

    &.menu-toolbar {
        background: #FFF;
        min-height: 30px;
        border-bottom: 2px dashed $color-secondary;

        .md-button {
            color: $color-primary;
        }

        md-icon , .md-input-focused md-icon , .md-input-focused .md-input {
            color: $color-primary;
            border-color: $color-primary;
        }

        md-input-container {
            padding: 2px;
            width: 300px;
            display: inline-block;
            float: right;
            margin: 6px 8px;

            input {
                font-size: 14px;
                width: 250px;
            }
        }
    }
}

.md-fill {
    width: 100%;
}

a.md-button.md-default-theme.md-primary.md-raised,
a.md-button.md-primary.md-raised,
a.md-button.md-default-theme.md-primary.md-fab,
a.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab {
    background-color: $color-primary;
}

a.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
a.md-button.md-primary.md-raised:not([disabled]):hover,
a.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
a.md-button.md-primary.md-fab:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.md-button.md-primary.md-raised:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
.md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: $color-primary;
}

.ts-titolo {
    padding-left: 2.5%;
    padding-right: 2.5%;

    h1 {
        color: $color-secondary;
        font-size: 1.6em;
        margin-bottom: 0;
    }

    h3 {
        color: $color-primary;
        margin-top: 0;
        font-size: 0.85em;
    }
}

.ts-content {
    background: #FFF;
    margin-bottom:30px;

    md-toolbar {
        min-height: 48px;
        height: 48px;

        .md-button {
            color: $color-secondary;
            md-icon {
                fill: $color-secondary;
            }
        }
    }

    .md-toolbar-tools {
        .md-button {
            margin-left:auto;
        }
    }

    md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
        background-color: #FFF;
        color: $color-secondary;
    }

    .md-subheader.md-default-theme, .md-subheader {
        color: $color-primary;
    }

    .activity-row {
        margin:auto;

        .icon {
            text-align:center;
            text-align: center;
            font-size: small;
            font-weight: bold;

            md-icon {
                fill: $color-secondary;
            }
        }

        .tiny {
            font-size: small;
            font-weight: bold;
            line-height: 16px;
        }
    }

    .badge {
        font-size: smaller;
        padding: 4px;
        border-radius: 5px;
        color: #FFF;
        margin-right: 5px;

        &.md-danger {
            background-color: #d9534f;
            border-color: #d43f3a;
        }

        &.md-warning {
            background-color: #f0ad4e;
            border-color: #eea236;
        }

        &.md-success {
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        &.md-primary {
            background-color: #337ab7;
            border-color: #2e6da4;
        }
    }

    md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
        color: $color-secondary;
    }

    md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
        color: $color-secondary;
    }

    md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
        color: $color-primary;
        background: $color-primary;
    }

    .layout-padding, .layout-padding>.flex, .layout-padding>.flex-gt-sm, .layout-padding>.flex-lt-lg, .layout-padding>.flex-md {
        padding: 16px;
    }

    md-input-container.md-default-theme, md-input-container label, md-input-container.md-default-theme, md-input-container .md-placeholder,
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value, md-input-container:not(.md-input-invalid).md-input-has-value label,
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused, md-input-container:not(.md-input-invalid).md-input-focused label{
        color: $color-primary;
        font-size:13px;
    }

    md-input-container.md-default-theme, md-input-container .md-input,
    md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused, md-input-container:not(.md-input-invalid).md-input-focused .md-input{
        border-color: $color-primary;
    }

    md-radio-group.md-default-theme[disabled], md-radio-group[disabled], md-radio-button.md-default-theme[disabled], md-radio-button[disabled] {
        color: $color-primary;
    }

    md-checkbox.md-default-theme[disabled], md-checkbox[disabled] .md-label {
        color: $color-primary;
    }

    .ts-table {
        th {
            font-weight: 600;
            font-size: 12px;
            border-right: 1px solid rgba(0,0,0,0.24);
            border-bottom: 1px solid rgba(0,0,0,0.24);
        }

        td {
            text-align: center;
            font-size: 11px;
            border-right: 1px solid rgba(0,0,0,0.24);
            border-bottom: 1px solid rgba(0,0,0,0.24);
        }

        tr.alternate {
            background-color: #DDDDDD;
        }
    }

    .ts-table-bh{
        display: block;
        margin-left: auto;
    }

    .ts-main-content-border {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-left: 1px solid rgba(0, 0, 0, 0.12);
    }
}

.ts-side-block-right {
    md-toolbar {
        border-right: 1px solid rgba(0,0,0,0.12);
    }

    md-list {
        border-right: 1px solid rgba(0,0,0,0.12);

        > md-list {
            padding-left: 30px;
        }
    }
}

md-dialog md-dialog-content {
    order: none;
}

.md-pane-open .md-datepicker-calendar{
    background-color: #FFFFFF;
}

.md-calendar-selected-date {
    border: 1px solid #333;
}

a.md-button.md-default-theme.md-raised[disabled],
a.md-button.md-raised[disabled],
a.md-button.md-default-theme.md-fab[disabled],
a.md-button.md-fab[disabled],
.md-button.md-default-theme.md-raised[disabled],
.md-button.md-raised[disabled],
.md-button.md-default-theme.md-fab[disabled],
.md-button.md-fab[disabled] {
    background-color: rgba(0, 0, 0, 0.12);
}

.netstatus-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1100;
  -webkit-perspective: 10000;
  -moz-perspective: 10000;
  perspective: 10000;
  -webkit-perspective: 10000px;
  -moz-perspective: 10000px;
  perspective: 10000px;
  zoom: 1;
  filter: alpha(opacity=10);
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

.netstatus-overlay-spinner {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1101;
  zoom: 1; }
  .netstatus-overlay-spinner md-progress-linear {
    height: 3px; }
    .netstatus-overlay-spinner md-progress-linear .md-container {
      background-color: #FFF; }
    .netstatus-overlay-spinner md-progress-linear .md-bar {
      background-color: $color-secondary; }

.logged-user {
    /*background: #01253d url("/img/logobar_right.png") no-repeat scroll left top;*/
    float: right;
    font-size: 13px;
    height: 100px;
    padding-left: 10px;
    padding-top: 70px;
    position: absolute;
    right: 0;
    top: 0;
    width: 358px;

    a {
        cursor:pointer;
    }
}

.validation-errors {
    color: #aa0000;
    font-weight: bold;
    margin:auto;
    padding:5px;
}

.intergrazioni-richieste {
    padding:5px;
}

p.intergrazioni-richieste{
    margin: 0;
}
